body {
	background-color: #000;
	color: #fff;
}
button {
	margin: 0.5em;
}
input {
	margin: 0.25em;
}
a {
	color: #92CDCF;
	font-weight: bold;
}
a:hover {
	color: #31353D;
	text-decoration: none;
}
footer {
	font-size: .8em;
	border-top: 1px dotted #445878;
	padding-top: 1em;
	margin-top: 1em;
}
h1, h1>a, h1>a:hover, h1>a:active, h1>a:visited, h2, h3, h4 {
	 color: #EEEFF7;
	 text-decoration: none;
}
label {
	color: #92CDCF;
}
textarea {
	color: #000;
}
ul.nav a:hover { background-color: #EEEFF7; }
.moot {
	color: #fff;
}
ul#essential-questions {
	font-size: 1.1em;
	color: #92CDCF;
	list-style-type: none;
}
.article-link {
	font-size: 1.2em;
}
.bigidea {
	color: #92CDCF;
}
.btn-primary, .btn-primary:active {
	background-color: #445878;
	border-color: #EEEFF7;
}
.btn-primary:hover {
	background-color: #92CDCF;
	border-color: #EEEFF7;
}
.footnote {
	font-size: 0.85em;
}
.img {
	margin: 1.5em;
}
.message {
	color: #92CDCF;
}
.navbar-inverse .navbar-nav>li>a {
	color: #92CDCF;
}
.navbar .navbar-inverse .navbar-static-top {
	background-color: #31353D;
}
.question {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
#score {
	font-size: 2em;
	font-weight: bold;
}
#stepinside {
	color: #EEEFF7;
}